/* main styles */
/* global reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* import fonts */
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'); }

@font-face {
  font-family: "Museo Slab";
  src: url('../fonts/Museo_Slab_500_2-webfont.woff') format('woff'), url('../fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'), url('../fonts/Museo_Slab_500_2-webfont.svg') format('svg'), url('../fonts/Museo_Slab_500_2-webfont.otf') format('opentype'); }

body {
  font-family: "Open Sans", "open-sans", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  color: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Museo Slab", "museo-slab", "serif";
  color: #3d3d3d; }

h2 {
  font-size: 24px;
  line-height: 48px;
  padding-top: 12px; }

/* large background */
html {
  background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* body width */
body {
  width: 680px;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6); }

/* header */
header#logo {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px #3d3d3d solid; }

header img {
  width: 128px;
  height: 128px;
  float: left;
  margin: 0 20px 20px 0; }

header h1 {
  font-family: "Open Sans", "open-sans", "sans-serif";
  color: black;
  font-weight: 900;
  font-size: 64px;
  line-height: 64px; }

header p {
  clear: both;
  font-size: 24px;
  margin-top: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  color: black; }

/* address formatting */
section#address {
  clear: both;
  overflow: hidden; }

.vcard {
  float: left;
  width: 200px;
  margin-right: 20px;
  font-size: 12px;
  line-height: 16px; }

.tel {
  font-size: 24px;
  line-height: 24px;
  color: #3d3d3d; }

.url, .org {
  display: none; }

a.vcf {
  float: left; }

.vcf img {
  width: 60px;
  height: 46px; }

/* services section */
#services {
  clear: both; }

.service {
  width: 200px;
  float: left;
  margin: 0 20px 0 0; }

#maintenance {
  margin: 0; }

/* downloads */
#follow {
  clear: both; }
