/* main styles */

@import "base";

/* import fonts */
@include font-face("Open Sans", font-files("OpenSans-Light-webfont.woff", "OpenSans-Light-webfont.otf", "OpenSans-Light-webfont.ttf", "OpenSans-Light-webfont.svg"), false, 300, normal);
@include font-face("Open Sans", font-files("OpenSans-Regular.woff", "OpenSans-Regular.otf", "OpenSans-Regular.ttf", "OpenSans-Regular.svg"), false, 400, normal);
@include font-face("Open Sans", font-files("OpenSans-Semibold-webfont.woff", "OpenSans-Semibold-webfont.otf", "OpenSans-Semibold-webfont.ttf", "OpenSans-Semibold-webfont.svg"), false, 600, normal);
@include font-face("Open Sans", font-files("OpenSans-Bold-webfont.woff", "OpenSans-Bold-webfont.otf", "OpenSans-Bold-webfont.ttf", "OpenSans-Bold-webfont.svg"), false, 700, normal);
@include font-face("Open Sans", font-files("OpenSans-ExtraBold-webfont.woff", "OpenSans-ExtraBold-webfont.otf", "OpenSans-ExtraBold-webfont.ttf", "OpenSans-ExtraBold-webfont.svg"), false, 800, normal);

$sans-serif: "Open Sans", "OpenSans",sans-serif;
$serif: serif;
$body-color: #000000;
$heading-color: #3d3d3d;
$logo-color: #000000;
$outline: 1px #3d3d3d solid;
$logo-blue: #0E6C9B;
$logo-yellow: #EBEF2E;
$highlight: $logo-blue;
$highlight-active: $logo-blue;

body {
	font-family: $sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
	font-weight: 100;
	color: $heading-color;
}

h2 {
	font-size: 32px;
	line-height: 48px;
	padding: 16px 0 24px 0;;
}

a, a:visited {
	color: $highlight;
	text-decoration: none;
}

a:hover, a:active {
	color: $highlight-active;
	text-decoration: underline;
}

/* large background */
html { 
  background: url(../images/background-large.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/* body width */
body {
	width: 680px;
	margin: auto;
	padding: 20px;
	background-color: rgba(255,255,255,0.6);
}

/* header */
header#logo {
	padding: 20px;
	background-color: #ffffff;
	margin-bottom: 20px;
	border: $outline;
}

header img {
	width: 128px;
	height: 128px;
	float: left;
	margin: 0 20px 20px 0;
}

header h1 {
	font-family: $sans-serif;
	color: $logo-color;
	font-weight: 900;
	font-size: 64px;
	line-height: 64px;
}

header p {
	clear: both;
	font-size: 24px;
	margin-top: 12px;
	font-weight: 100;
	letter-spacing: 1px;
	color: $logo-color;
}

/* address formatting */
section#address {
	clear: both;
	overflow: hidden;
}

.vcard {
	float: left;
	width: 200px;
	margin-right: 20px;
	font-size: 12px;
	line-height: 16px;
}

.tel {
	font-size: 24px;
	line-height: 24px;
	color: $heading-color;
	padding-bottom: 10px;
}

.url, .org {
	display: none;
}

a.vcf {
	float: left;
}

.vcf img {
	width: 60px;
	height: 46px;
}

/* services section */
#services {
	clear: both;
}

.service {
	width: 200px;
	float: left;
	margin: 0 20px 0 0;
}

#maintenance {
	margin: 0;
}

/* social media links */
#follow {
	clear: both;
}