/* main styles */

@import "base";

/* import fonts */
@include font-face("Open Sans", font-files("OpenSans-Light-webfont.woff", "OpenSans-Light-webfont.otf", "OpenSans-Light-webfont.ttf", "OpenSans-Light-webfont.svg"), false, 300, normal);
@include font-face("Open Sans", font-files("OpenSans-Regular.woff", "OpenSans-Regular.otf", "OpenSans-Regular.ttf", "OpenSans-Regular.svg"), false, 400, normal);
@include font-face("Open Sans", font-files("OpenSans-Semibold-webfont.woff", "OpenSans-Semibold-webfont.otf", "OpenSans-Semibold-webfont.ttf", "OpenSans-Semibold-webfont.svg"), false, 600, normal);
@include font-face("Open Sans", font-files("OpenSans-Bold-webfont.woff", "OpenSans-Bold-webfont.otf", "OpenSans-Bold-webfont.ttf", "OpenSans-Bold-webfont.svg"), false, 700, normal);
@include font-face("Open Sans", font-files("OpenSans-ExtraBold-webfont.woff", "OpenSans-ExtraBold-webfont.otf", "OpenSans-ExtraBold-webfont.ttf", "OpenSans-ExtraBold-webfont.svg"), false, 800, normal);

$sans-serif: "Open Sans", "OpenSans",sans-serif;
$serif: serif;

$outline: 1px #3d3d3d solid;

$body-color: #000000;
$heading-color: #3d3d3d;
$logo-color: #000000;
$logo-blue: #0E6C9B;
$logo-yellow: #EBEF2E;
$highlight: $logo-blue;
$highlight-active: $logo-blue;

$pagewidth: 700px;
$columnwidth: 220px;
$gutterwidth: 20px;

/* global font styles */
body {
	font-family: $sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
	font-weight: 100;
	color: $heading-color;
}

h2 {
	font-size: 32px;
	line-height: 48px;
	padding: 16px 0 24px 0;;
}

a, a:visited {
	color: $highlight;
	text-decoration: none;
}

a:hover, a:active {
	color: $highlight-active;
	text-decoration: underline;
}

/* large background */
html { 
  background: url(../images/background-large.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* body width */
body {
	width: $pagewidth;
	margin: auto;
	padding: $gutterwidth;
	background-color: rgba(255,255,255,0.6);
}

/* header */
header {
	position: relative;
	margin-bottom: 40px;
}

#logo {
	width: 380px;
	padding: 15px;
	background-color: #ffffff;
	border: $outline;
	position: absolute;
	bottom: -40px;
	left: 20px;
}

#logo img {
	width: 96px;
	height: 96px;
	float: left;
	margin: 0px 15px 15px 0px;
}

#logo h1 {
	font-family: $sans-serif;
	color: $logo-color;
	font-weight: 900;
	font-size: 44px;
	line-height:44px;
}

#logo p {
	clear: both;
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 0px;
	color: $logo-color;
}

header img {
	border: $outline;
	z-index: 1;
}

/* address formatting */
section#address {
	clear: both;
	overflow: hidden;
}

.vcard {
	float: left;
	width: $columnwidth;
	margin-right: $gutterwidth;
	font-size: 12px;
	line-height: 16px;
}

.tel {
	font-size: 24px;
	line-height: 24px;
	color: $heading-color;
	padding-bottom: $gutterwidth;
}

.url, .org {
	display: none;
}

a.vcf {
	float: left;
}

.vcf img {
	width: 60px;
	height: 46px;
}

/* services section */
#services {
	clear: both;
}

#services header {
	margin-bottom: 0;
}

.service {
	width: $columnwidth;
	float: left;
	margin: 0 $gutterwidth 0 0;
}

.service img {
	border: $outline;
}

#maintenance {
	margin: 0;
}

/* social media links */
#follow {
	clear: both;
}